.slider {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0%;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0, 0.5);
}

.inner__slider {
    width: 5%;
    height: 100%;
    background-color: #0f0;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 20px;
}